.shelvesPlaceHolder {
  //element to hold height of .shelves
  height: 1080px; // initial height, should be programatically set to .shelves height
}

.shelves {
  position: absolute;
  left: 0;

  .control {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.loading .control {
    display: none;
  }

  canvas {
    border: 1px solid black;
    cursor: move;
  }
}

.debug {
  .canvasContainer {
    width: 100%;
    text-align: center;
  }

  .debugContainer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

  .debugContainer p {
    padding: 0;
    margin: 0;
  }

  .debugContainer.left {
    left: 0;
    font-size: 1em;
  }

  .debugContainer.right {
    right: 0;
  }

  .debugContainer .green {
    color: green;
  }

  .debugContainer .red{
    color: red;
  }
}
