body {
  margin: 0;
  background-color: lightgrey;
}

#shelvesCanvasContainer {
  max-width: 1100px;
  margin: 0 auto;
}

#shelvesCanvas {
  background-color: white;
}

button {
  height: 50px;
  font-size: 1em;
}

.debugContainer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.debugContainer p {
  padding: 0;
  margin: 0;
}

.debugContainer.left {
  left: 0;
  font-size: 1em;
}

.debugContainer.right {
  right: 0;
}

.debugContainer .green {
  color: green;
}

.debugContainer .red{
  color: red;
}
