.DnnModule {
  position: static; }

body {
  overflow: hidden; }

.shelvesPlaceHolder {
  height: 1080px; }

.shelves {
  position: absolute;
  left: 0;
  cursor: move; }
  .shelves.pointer {
    cursor: pointer; }
  .shelves .control {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, 0.65); }
    .shelves .control img:hover {
      cursor: hand;
      cursor: pointer; }
    .shelves .control img.disactivated {
      visibility: hidden; }
    .shelves .control table {
      margin: 0; }
    .shelves .control td {
      padding: 3px; }
  .shelves.loading .control {
    display: none; }

.canvasContainer {
  width: 100%;
  text-align: center; }

.debugContainer {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold; }

.debugContainer p {
  padding: 0;
  margin: 0; }

.debugContainer.left {
  left: 0;
  font-size: 1em; }

.debugContainer.right {
  right: 0; }

.debugContainer .green {
  color: green; }

.debugContainer .red {
  color: red; }
