backend/node_modules
backend/src/**/*.js
backend/src/models/**/*.js.map
backend/test/**/*.js
backend/typings

frontend/node_modules
frontend/src/**/*.js
frontend/src/**/*.js.map
frontend/test/**/*.js
frontend/test/**/*.js.map
frontend/dist/**/*.map
frontend/typings
frontend/-html
frontend/coverage
